.btn1{
    border: 1px solid #C4C4C4;
    padding:20px 75px 20px 20px;
    display: inline-block;
    border-radius:2px;
    @include b1;
    font-size: 18px;
    color: $dark_grey;
    position: relative;
    &:after{
        content:"\e900";
        position: absolute;
        font-family: 'icomoon' !important;
        border-left:1px solid #C4C4C4;
        padding:20px 25px;
        font-size: 14px;
        bottom:0;
        top:0;
        right:0;
    }
}
.btn2{
    border:{
        top:none;
        right:none;
        left:none;
        bottom:1px solid #C4C4C4;
    }
    padding:20px 0;
    display: inline-block;
    border-radius:0;
    @include b1;
    font-size: 18px;
    color: $dark_grey;
    &:after{
        content:"\e900";
        font-family: 'icomoon' !important;
        font-size: 14px;
        margin-left:10px;
    }
}