$bg_light: #F2EFEE;
$bg_red: #8C2531;
$bg_beige: #D7C3AE;
$dark_grey: #3C3C3C;
$dark_blue: #003A92;
$mid_grey: #C4C4C4;
$gret_purp: #74788A;

.color_white{
	color: #fff;
}
.color_dark-blue{
	color: $dark_blue;
}