@import "_vendor";
@import "_colors";
@import "_layouts";
@import "_fonts";
@import "_buttons";

html{
    scroll-behavior: smooth;
}
ul{
    margin:0;
    padding:0;
}
body{
    color: $dark_grey;
    background: $bg_light;
    &:before{
        content:"";
        position: absolute;
        top:60px;
        left:0;
        right:0;
        bottom:0;
        background-color: $gret_purp;
        opacity:0;
        visibility: hidden;
        transition: 0.3s ease opacity, 0.3s ease visibility;
        z-index: 1028;
    }
    &.no-scrollY{
        overflow-y: hidden;
    }
}
a{
    color: inherit;
    transition: 0.3s opacity ease;
    opacity: 1;
    &:hover{
        text-decoration: none;
        opacity:0.8;
        color:inherit;
    }
}
.img-wrapper{
    img{
        max-width:100%;
        width:100%;
    }
    a{
        display:block;
        position: relative;
        &:hover{
            opacity:1;
            &:after{
                width:100%;
            }
        }
        &:after{
            content:"";
            position: absolute;
            left:0;
            top:0;
            width:0;
            height:5px;
            background-color: $dark_blue;
            transition: 0.5s width linear;
        }
    }
}
.header-top{
    height:60px;
    ul{
        li{
            a{
                color: #74788A;
            }
            & + li{
                    margin-left:30px;
                }
        }
    }
}
.site-nav{
    position: sticky;
    top:0;
    z-index:1030;
    @include l-down{
        padding:30px 0;
        &.mobile-menu-active{
            background-color: $dark_blue;
            .hamburger-btn{
                .bar1, .bar2, .bar3{
                    background-color: #fff;
                }
            }
            .nav-wrapper{
                .nav-links{
                    background-color: $dark_blue;
                    transform: translateX(0);
                    opacity:1;
                    visibility: visible;
                    padding: 0 32px;
                }
                .hamburger-btn{
                    .bar1, .bar2, .bar3{
                        background-color: #fff;
                    }
                }
            }
            &:after{
                background-color: $dark_blue !important;
            }
            &:before{
                content:none;
            }
            .nav-logo{
                img{
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
    &:after{
        content:"";
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:-1;
        border-bottom:1px solid $mid_grey;
        background-color: #fff;
        visibility: hidden;
        opacity:0;
        transition: 0.3s ease visibility, 0.3s ease opacity;
    }
    &.is-sticky{
        &:after{
            opacity: 1;
            visibility: visible;
        }
    }
    &.nav-up{
        transform: translateY(-100%);
        transition: 0.2s linear transform;
    }
    &.nav-down{
        transform: translateY(0);
        transition: 0.2s linear transform;
    }
    &:before{
        content: "";
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left: 16px;
        @include xs{
            left: 16px;
        }
        @include s{
            left: 24px;
        }
        @include m{
            left: 32px;
        }
        @include l{
            left: 44px;
        }
        @include xl{
            left: 60px;
        }
        @include xxl{
            left: 120px;
        }
        background: #fff;
        z-index:-1;
    }
    .nav-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include l-down{
            .nav-links{
                flex-direction: column;
            }
        }
        .hamburger-btn{
            position: absolute;
            @include l-down{
                right: 88px;
            }
            @include m-down{
                right: 64px;
            }
            @include s-down{
                right: 48px;
            }
            @include xs-down{
                right: 32px;
            }
            cursor: pointer;
            .bar1, .bar2, .bar3 {
              width: 24px;
              height: 1px;
              background-color: $dark_grey;
              margin: 6px 0;
              transition: 0.4s;
            }

            &.close-btn .bar1 {
              -webkit-transform: rotate(-45deg) translate(-9px, 6px);
              transform: rotate(-45deg) translate(0px, 0px);
            }

            &.close-btn .bar2 {opacity: 0;}

            &.close-btn .bar3 {
              -webkit-transform: rotate(45deg) translate(-8px, -8px);
              transform: rotate(45deg) translate(-10px, -11px);
            }
        }
        @include l{
            .hamburger-btn{
                display:none;
            }
        }
        .nav-logo{
            img{
                max-width:150px;
                height:auto;
            }
        }
        .nav-links{
            display: flex;
            margin:0;
            list-style-type:none;
            @include l-down{
                position: absolute;
                left:0;
                right:0;
                top:107px;
                height: calc(100vh - 107px);
                transform: translateX(-100%);
                visibility: hidden;
                opacity:0;
                transition: 0.3s;
            }
            li{
                & > a{
                    color: $dark_grey;
                    padding:45px 0;
                    @include l-down{
                        padding: 20px 0;
                        margin-top:-1px;
                        color: #fff;
                        border-top:1px solid rgba(200,200,200,0.1);
                        border-bottom: 1px solid rgba(200,200,200,0.1);
                    }
                    display: block;
                    @include p2;
                    transition: 0.3s ease color;
                    &:hover{
                        color: $dark_blue;
                        @include l-down{
                            color:rgba(255,255,255,0.7);
                        }
                    }
                }
                & + li{
                    @include l{
                        margin-left:50px;
                    }
                }
                &.has-megamenu{
                    .ss-megamenu{
                        @include l{
                            padding-top:60px;
                            padding-bottom: 60px;
                            border-bottom: 1px solid $mid_grey;
                            position: absolute;
                            z-index: 1029;
                            left:0;
                            right:0;
                            background-color: #fff;
                            box-shadow: 0 0 5px 0 rgba(90,90,90,0.1);
                            opacity:0;
                            visibility:hidden;
                            transition: opacity 0.3s ease, visibility 0.3s ease;
                        }
                        .mm-content{
                            hr{
                                width:80px;
                                border-color: $mid_grey;
                                margin:30px 0;
                                @include l-down{
                                    display:none;
                                }
                            }
                            p{
                                @include h3;
                                color: $dark_blue;
                                @include l-down{
                                    @include p2;
                                    padding: 15px 0;
                                    color: rgba(255,255,255,0.8);
                                }
                                
                            }
                        }
                    }
                    &:hover{
                        .ss-megamenu{
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                    
                }    
            }
        }
    }
}
.mm-open{
    position: relative;
    &:before{
        opacity:0.8;
        visibility: visible;
    }
    .site-nav{
        &:after,.ss-megamenu{
                opacity: 1;
                visibility: visible;
            }
    }
}
//fake negative margin
.fake-nm{
    position: relative;
    &:before{
        content:"";
        position: absolute;
        background-color:#fff;
        z-index: -1;
    }
    &.tl:before{
        top:0;
        right:0;
        bottom:0;
    }
    &.bl:before{
        top:0;
        right:0;
        bottom:50%;
    }
    &.tl:before, &.bl:before{
       
        left: 16px;
        @include xs{
            left: 16px;
        }
        @include s{
            left: 24px;
        }
        @include m{
            left: 32px;
        }
        @include l{
            left: 44px;
        }
        @include xl{
            left: 60px;
        }
        @include xxl{
            left: 120px;
        }
    } 
    &.bl{
        &.img-wrapper{
            img{
                width:100%;
            }
            padding-left: 32px;
            @include xs{
                padding-left: 32px;
            }
            @include s{
                padding-left: 48px;
            }
            @include m{
                padding-left: 64px;
            }
            @include l{
                padding-left: 88px;
            }
            @include xl{
                padding-left: 120px;
            }
            @include xxl{
                padding-left: 240px;
            }
        }
    }
    &.tr:before{
        top:0;
        left:0;
        bottom:0;
    }
    &.br:before{
        top:0;
        left:0;
        bottom:50%;
    }
    &.tr:before, &.br:before{
        
        right: 16px;
        @include xs{
            right: 16px;
        }
        @include s{
            right: 24px;
        }
        @include m{
            right: 32px;
        }
        @include l{
            right: 44px;
        }
        @include xl{
            right: 60px;
        }
        @include xxl{
            right: 120px;
        }
    }
    &.br{
        &.img-wrapper{
            img{
                width:100%;
            }
           
            padding-right: 32px;
            
            @include xs{
                padding-right: 32px;
            }
            @include s{
                padding-right: 48px;
            }
            @include m{
                padding-right: 64px;
            }
            @include l{
                padding-right: 88px;
            }
            @include xl{
                padding-right: 120px;
            }
            @include xxl{
                padding-right: 240px;
            }
        }
    }
    &.tc:before{
        top:0;
        left:0;
        right:0;
        bottom:0;
    }
    &.bc:before{
        top:0;
        left:0;
        right:0;
        bottom:50%;
    }
    &.bc{
        .img-wrapper{
            img{
                width:100%;
            }
            padding-right: 16px;
            padding-left:16px;
            @include xs{
                padding-right: 16px;
                padding-left:16px;
            }
            @include s{
                padding-right: 24px;
                padding-left: 24px;
            }
            @include m{
                padding-right: 32px;
                padding-left: 32px;
            }
            @include l{
                padding-right: 44px;
                padding-left: 44px;
            }
            @include xl{
                padding-right: 60px;
                padding-left: 60px;
            }
            @include xxl{
                padding-right: 120px;
                padding-left: 120px;
            }
        }
    }
}
.hero-section{
    h1{
        color: $dark_blue;
    }
}
.section-heading{
    text-transform: uppercase;
    margin-bottom:30px;
}
.news-item{
    padding:40px;
    border:1px solid #fff;
    margin-left:-1px;
    margin-top:-1px;
    @include s-down{
        padding:16px;
        margin-top:0;
        margin-left:0;
        margin-right:-1px;
    }
    .news-meta{
        color: $gret_purp;
        margin:20px 0;
        text-transform: uppercase;
        .day-month{
            &:after{
                content:"";
                display: inline-block;
                height:1px;
                width:32px;
                margin:0 8px;
                vertical-align: middle;
                background-color: $mid_grey;
            }
        }
    }
}
.section-latest-news{
    .section-heading{
        margin-top:100px;
        margin-bottom:60px;
        @include s-down{
            margin-top:15px;
            margin-bottom:30px;
        }
    }
    .news-container{
        @include s-down{
            display:none;
        }
    }
    .news-carousel-wrapper{
        @include s{
            display: none;
        }
        .news-item{
            .img-wrapper a{
                height: 250px;
                overflow: hidden;
                @include xs-down{
                    height:170px;
                }
                img{
                    width:100%;
                    height:100%;
                    object-fit: cover;
                }
            }
        }
        .news-carousel{
            .img-wrapper{
                a{
                    display: block;
                }
            }
            @include m-down{
                padding-left: 48px;
            }
            @include xs-down{
                padding-left: 32px;
            }
            @include s-down{
                padding-left: 24px;
            }
            .slick-list {
                padding: 0 90px 0 0;
            }
        }
    }
}
.section-our-mission{
    padding-bottom: 80px;
    .fake-nm{
        padding-top: 80px;
        &:before{
            background-color:$bg_red;
        }
    }
}
.section-beneficiaries{
    padding-top:80px;
    padding-bottom: 80px;
    @include m-down{
        padding-top:50px;
        padding-bottom: 50px;
        .section-heading{
            margin-bottom:0;
        }
    }
    background-color: #fff;
    .ben-carousel{
        padding-left: 240px;
        .ben-item{
            padding:0 30px;
        }
        .img-wrapper{
            a{
                display: block;
            }
        }
        padding-left: 32px;
        @include xxs-down{
            .ben-item{
                padding-right: 0;
            }
        }
        @include xxs{
            padding-left: 32px;
            .ben-item{
                padding-right: 0;
            }
        }
        @include xs{
            padding-left: 32px;
        }
        @include s{
            padding-left: 48px;
        }
        @include m{
            padding-left: 64px;
        }
        @include l{
            padding-left: 88px;
        }
        @include xl{
            padding-left: 120px;
        }
        .slick-list {
            padding: 0 90px 0 0;
            margin-left:-30px;
        }
    }
}
.section-founders{
    padding-bottom: 80px;
    @include m-down{
        padding-bottom:50px;
    }
    background-color: #fff;
    .fake-nm{
        padding-top: 80px;
        @include m-down{
            padding-top:30px;
            &.bc:before{
                top:0;
                left:0;
                right:0;
                bottom:70%;
            }
        }

        & + .fake-nm{
            padding-top:50px;
        }
        &:before{
            background-color:$bg_beige;
            z-index: 0;
        }
        img{
            position: relative;
        }
    }
    .img-wrapper{
        @include m-down{
            position: relative;
            & + .img-wrapper{
                margin-top:20px;
            }
        }
        .founder-details{
            @include m{
                display: none;
            }
        }
    }
    .founder-carousel-wrapper{
        position: relative;
        & > .founder-details{
            p{
                &:after{
                    content:"";
                    display: inline-block;
                    margin-left:15px;
                    width:15px;
                    height:15px;
                    border-radius: 50%;
                    background-color: $dark_blue;
                    opacity:0;
                    transition: 0.5s opacity ease;
                    vertical-align: middle;
                }
                &.active{
                    &:after{
                        opacity: 1;
                    }
                }
            }
            @include m-down{
                display:none;
            }
        }
    }
    .founder-details{
        position:absolute;
        z-index: 1;
        
        padding: 15px 32px;
        
        @include xs{
            padding: 15px 32px;
        }
        @include s{
            padding:30px 48px;
        }
        @include m{
            padding:30px 64px;
        }
        @include l{
            padding:30px 88px;
        }
        @include xl{
            padding:60px 120px;
        }
        @include xxl{
            padding:60px 240px;
        }
        bottom:0;
        left:0;
        width:100%;
        p{
            @include m-down{
                    margin:0;
                    padding:0;
                    &:after{
                        content:"\e900";
                        font-family: 'icomoon' !important;
                        margin-left:10px;
                        font-size:14px;
                    }
                }
            &:first-of-type{
                padding-bottom: 20px;
                margin-bottom: 20px;
                @include m-down{
                    margin:0;
                    padding:0;
                }
                &:before{
                    content: "";
                    position: absolute;
                    bottom:0;
                    left:0;
                    width:100%;
                    height:0;
                    border: 1px solid #fff;
                    opacity:0.2;
                }
                @include m-down{
                    &:before{
                        content: none;
                    }
                }
            }
            position: relative;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
.section-gallery{
    padding:{
        top:30px;
        bottom:80px;
    }
    .section-heading{
        margin-top:60px;
        @include m-down{
            margin-top:0;
        }
    }
    background-color:#fff;
    .gallery-container{
        @include m-down{
            display: none;
        }
    }
    .gallery-carousel-wrapper{
        @include m{
            display: none;
        }
        .gallery-carousel{
            .img-wrapper{
                a{
                    display: block;
                }
            }
            @include m-down{
                padding-left: 48px;
            }
            @include xs-down{
                padding-left: 32px;
            }
            @include s-down{
                padding-left: 24px;
            }
            .slick-list {
                padding: 0 90px 0 0;
            }
        }
    }
    .gallery-item{
        padding:40px;
        border:1px solid #F2EFEE;
        margin-right:-1px;
        @include s-down{
            padding:16px;
        }
    }
}
.footer{
    padding:{
        top:80px;
        bottom:30px;
    }
    background-color:$dark_grey;
    .footer-top{
        display: flex;
        justify-content: space-between;
        img{
            filter: brightness(0) invert(1);
            max-width:150px;
        }
        .footer-social{
            @include l{
                display: none;
            }
        }
    }
    hr{
        border-color: #fff;
        margin-top:40px;
        opacity:0.1;
    }
    .footer-links{
        display: flex;
        margin:0;
        list-style-type:none;
        flex-wrap: wrap;
        li{
            @include l-down{
                width:50%;
            }
            a{
                color: #fff;
                @include p2;
            }
            & + li{
                margin-left:50px;
                @include l-down{
                    margin-left: 0;
                }
            }
        }
    }
    .footer-social{
        ul{
            li{
                margin-left:30px;
            }
        }
    }
    .footer-middle{
        .footer-social{
            @include l-down{
                display: none;
            }
        }
    }
    .footer-bottom{
        margin-top:100px;
        opacity:0.5;
        @include l-down{
            .footer-links{
                margin-bottom: 15px;
                li{
                    width:auto;
                    & + li{
                        margin-left: 20px;
                    }
                }
            }
            flex-direction: column;
        }
    }

}